body
{
    background:url("../Images/Card.jpg");
    
}
/*7 car*/
.product-card7
{   width:350px;
    background: #ecedef;
    padding: 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    left:50%;
    top: 50%;
}
.product-card7 h2
{  
    color: black;
    font-size: 35px;
    margin-bottom: 30px;
    
}
.product-pic7
{
    background-image: url(../Images/t.png);
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: -6s linear;
}
.product-color7{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.product-color7 span{
    width: 14px;
    height: 14px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 160px;
    
}
.black7
{
    background:#0A0A0A ;
}
.gray7
{
    background:#585864;
}
.brown7
{
    background: #573B1C;
}
.white7
{
    background: #FFFCFC;
}
.product-color7 .active:after
{
    content: '';
    width: 22px;
    height: 22px;
    background: #f3f3f3;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -4px;
    top:-4px;
    z-index: -1;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3)
  
}
.product-info7{
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.product-price7{
    color:#0A0A0A;
    font-size: 18px;
}
.product-button7{
    margin-left: auto;
    color:black;
    text-decoration: none;
    border: 2px black solid;
    padding: 8px 24px;
    border-radius: 20px;
    transition: 2s linear;
}
.product-button7:hover{
    transform: scale(1.06);
     background-color:#999CC6  ;
}
.stars7{
    position: absolute;
    right: 30px;
    top: 30px;
    color: #ffcb2c;
}