*{
    margin: 0;
    padding: 0;
}
/*Make background*/
body{
    
    background-image: url(../Images/black.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    overflow-x: hidden
}
h1{
    font-style: italic;
    color: white;
    margin-top:60px;
    margin-left: 40px;
    margin-bottom: 60px;
   font-size: 50px;
   background: url("../Images/bh.jpg") 50% 50%;
   background-size: cover;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
.trip{
  width: 75%;
  padding: 30px;
  margin-left: 100px;
  display: block;

}
form input[type = "text"],form input[type = "datetime-local"]
{   
    margin: 20px auto;
    background: black;
    text-align: center;
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    font-size: 18px; 
}
form input[type = "text"]:focus,form input[type = "datetime-local"]:focus{
    width:310px;
    background-color:#85a392;
}


.inp{
    height: 40px;
    width: 280px;
}
h2{
    margin-top: 30px;
    color:#000066	;
    letter-spacing: 1px;
    text-align: center;
    font-size: 35x;
}
.h22{
    margin-top: 40px;
}
p{   
    color:black;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
.buton{
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 30px;
    transition: 2.5s;
    box-shadow: 0px 5px 50px #f1e7b6 inset,0 5px 50px #f1e7b6, 0px 5px 50px #f1e7b6 inset,0 5px 50px #f1e7b6;
    margin-left: 15px;
    color:cadetblue;
    background-color:#ffb385;
}
.iframeHeader
{
    margin: -5px;
    width: 100%;
    height: 17%
}
.iframeFooter
{
    margin: -2px;
    width: 100%;
    height: 450px;
    margin-top: 15%
}