body
{
    margin: 0;
    padding: 0;
    max-height: 100%;
    background-color: #00008B;
    
    background-position: center;

}
.choose h1{
    color: black;
    letter-spacing: 1px;
    text-align: center;
    font-style: oblique;
    font-weight: 500;
    font-family:cursive;
}
.carousel
{    

    height: 450px;
    perspective: 500px;
    
}
.carousel .carousel-item
{
    width: 350px;
}
.carousel .carousel-item img
{
    width: 310px;
    height: 250px;
    
}
.carousel .carousel-item h3 
{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    box-sizing:border-box;
    padding: 7px 5px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.carousel .carousel-item h4
{
    margin:0;
    padding: 0.5;
    background: #fff;
    color: #000;
    box-sizing: border-box;
    padding: 1px 1px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
