*,*::after,*::before
{
  margin: 0;padding: 0; box-sizing: inherit;
 font-family: fantasy;
}
html
{
    font-size: 62.5%;
}
body
{
    box-sizing: border-box;
}
section
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-book
{
    height: 100vh;
    background-color:	#1974D2;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.book{
    width: 60%;
    height:60%;
    background-image: linear-gradient(105deg,rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 50%,transparent 50%),url(../Images/bg.jpg);
    background-size: 100%;
    background-position: right;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.2);
}
.books-form
{
    padding: 6rem;
    width: 50%;
}
.heading
{
    font-size: 4rem;
    margin-bottom: 3rem;
    color: black;
}
.iframeHeader
{
    margin: -2px;
    width: 100%;
    height: 17%
}
.iframeFooter
{
    margin: -2px;
    width: 100%;
    height: 450px
}

