*
{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
}
body
{
    background-color: rgb(241, 242, 242)
}

ul
{
    list-style-type: none;
}
.header
{
    height: 130px;
    width: 100%;
    margin-bottom: -10px;
 
}
.carousel-indicators li 
{
 border: 1px solid  tomato;
 height: 10px;
 width: 10px;
}
.carousel-indicators .active
{
    background: tomato;
    height: 13px;
    width: 13px;
}
.carousel-caption
{
    width: 110%;
    height: 200px;
    background-color: black ;
    margin-bottom: 260px;
    opacity: 0.5;
    margin-left: -305px;
}
.carousel-caption h1
{
    font-size: 60px;
    margin-bottom: 15px;
    text-align: center;
    color: mintcream;
    margin-right: 100px;
}
.glyphicon-chevron-left:before
{
    margin-left: -140px;
}
.glyphicon-chevron-right:before
{
    margin-right: -140px;
}
h1
{
    margin-top: 55px;
}
.btn.btn-ganger
{
    background-color:tomato;
    opacity: 0.7;
    color: white;
    transition: 0.5s;
}
.btn.btn-danger:hover
{
    opacity:1 ;
    transition: 0.5s;
}
.col-xs-3 hr
{
    margin-top: -5px;
    background-color: transparent;
    border: 0;
    padding: 0;
}
.container
{
    color: rgb(158, 154, 154);
}
.container-fluid
{
     background-color: black;
}
.col-xs-3
{
    margin-right: 50px;
}
.col-xs-3 a
{
    color: rgb(158, 154, 154);
    margin-left: -37px;
    transition: 0.3s;
}
.col-ms-3 h3
{
    margin-left: 500px;
    color:rgb(158, 154,  154) ;
}
.col-ms-3 a
{
    color: rgb(158, 154, 154);
    transition: 0.3s;
    margin-left: 3px;
}
.col-ms-3 a:hover ,.col-xs-3 a:hover
{
    color: tomato;
    text-decoration: none;
    padding: 3px;
    transition: 0.3s;
}
.col-xs-12 img
{
    margin-left: -43px;
}
.col-xs-offset-3
{
    margin-left: 300px;
    margin-top: 10px;
}
.ahmed
{
    margin-left: 915px;
    margin-top: -225px;
}
.ainput:focus 
{
    outline: none;
    border-bottom: 1px solid black;
    width: 60%;
    transition: 0.6s;
}
.kk
{
    width: 200px;
}
.binput:focus
{
    outline: none;
}
.class1
{
    width: 100%;
    background-color:rgb(244, 241, 233) ;
    height: 700px;
    border-top: 1px solid gray ;
    border-bottom: 1px solid gray ;
}
.col-xs-8 p
{
    margin-top: 74px;
    font-size: 18px;
    color:rgb(75, 88, 98) ;
}
.col-xs-12 h1
{
    margin-left: 128px;
    margin-top: 25px;
    color: tomato ;
    font-size: 37px;
}
.line 
{
    border-top-color:rgb(194, 114, 61);
    border-top-style:solid;
    margin-bottom:0px; 
    margin-top:0px;
    margin-left: 143px ;
    width:80%
}
.col-ms-8 p
{
    font-size: 18px;
    margin-left: -48px;
    margin-top: 45px;
    color: rgb(75, 88, 98);
}
.event-list p
{
    font-size: 18px;
    margin-left: -86px;
    color: rgb(75, 88, 98); 
    margin-top: 0px;
}
.event-list li
{
    list-style:inside;
    color: rgb(75, 88, 98); 
    font-size: 18px;
    margin-left: -15px;

}
.btn.btn-defult 
{
    margin-left: 430px;
    margin-top: 50px;
    color: transparent;
    opacity: 1;
    transition: 0.4s;
    background-color: tomato;
}
.btn.btn-defult:hover , .btn.btn-defult a:hover
{
    text-decoration: none;
    opacity: 0.7;
}
.middle .container .col-ms-8 .carousel-inner
.item img
{
    height: 580px;
    width: 100%;
}
.middle
{
    width: 1345px;
    padding: 5px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px 20px px;
    border: 1px solid gainsboro;
    margin-bottom: 50px;
    margin-left: 70px;
    
}
.middle .carousel
{
    width: 856px;
    height: 580px;
    margin: 5px -15px ;
}
.middle .glyphicon-chevron-left 
{
    margin-left: 20px;
}
.middle .glyphicon-chevron-right
{
    margin-right: 20px;
}
.middle .container
{
    margin-left: -10px;
    width: auto;
}
.col-md-4
{
    margin-top: 50px;
    
}
.col-md-4 .line
{
    margin-left: 0px;
    width: 400px;
}
.col-md-4 p
{
    color: rgb(75, 88, 98);
    font-size: 18px;
    margin-top: 30px;
}
.btn.btn-warning
{
    background-color: tomato;
    height: 60px;
    width: 150px;
    opacity: 1;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 130px;
    transition: 0.4s;
    color: white;
}
.btn.btn-warning:hover
{
    opacity: 0.7;
    transition: 0.4s;
}
.middle .carousel img
{
    min-width: 856px;
    min-height: 580px;
}
.vd:focus
{
 outline: none;
}
.middle2
{
   background-image:url('../../Images/a37.jpg');
   width: auto;
   min-height: 2000px;
   margin-bottom: 50px;
   
   
}
.middle2 .container .col-xs-6 p
{
    text-align: right;
    margin-right: 0px;
    color: rgb(75, 88, 98);
    font-size: 18px;

}
.middle2 .container .col-xs-6 a
{
    color: rgb(75, 88, 98) ;
    font-size: 22px;
    font-weight: bold;
    transition: 0.4s;
    
}   
.middle2 .container .col-xs-6 a:hover
{
    text-decoration: none;
    opacity: 0.7;
    transition: 0.4s;
}
.middle2 .container .col-xs-6
{
    
    width: 45%;
    height: 612px;
    margin-bottom: 10px;
    margin-right: 57px;
    background-color: white;
    margin-top: 45px;
    border: 1px solid gainsboro;
}
video.vd {
    margin-top: -70px;
    margin-left: -8px;
}
.award
{
    width: 100%;
    background-color: rgb(100, 84, 39);
    height: 300px;
    margin-bottom: 50px;
}
.award p , .award h1
{
    text-align: center;
    color: white;
    margin-top: 00px;
      

}
.award 
{
    margin-top: 100px;
}
.award img
{
    margin-left: 190px;
}
.footer
{
    width: 100%;
    height: 450px;
    margin-bottom: -7px;
    margin-left: -2px;
}
a:focus
{
  outline: none;
}
a:hover
{
  text-decoration: none;
}

#panel1{
    display: none;
  }
#details1{
    font-size: 30px;
    margin-right: 150px;
    color: darkblue;
}
#panel2{
    display: none;
  }
#details2{
    font-size: 30px;
    margin-right: 150px;
    color: darkblue;
}
#panel3{
    display: none;
  }
#details3{
    font-size: 30px;
    margin-right: 150px;
    color: darkblue;
}
body
{
    position: relative;
}
.change-theme
{
    position: absolute;
    top: 30px;
    right: 10px;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    background-color: navajowhite;
}
.change-theme:hover {
    box-shadow: inset 0 0 0 20rem aliceblue;
}