@font-face
{ 
    font-family: "Oregano";
    src: url('../fonts/Oregano/Oregano-Regular.ttf');
}
@font-face
{ 
    font-family: "Annie Use Your Telescope";
    src: url('../fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope-Regular.ttf');
}
@font-face
{ 
    font-family: "Cormorant Upright";
    src: url('../fonts/Cormorant_Upright/CormorantUpright-Regular.ttf');
}
@font-face
{ 
    font-family: "Elsie";
    src: url('../fonts/Elsie/Elsie-Regular.ttf');
}
@font-face
{ 
    font-family: "Kaushan Script";
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}
@font-face
{ 
    font-family: "Niconne";
    src: url('../fonts/Niconne/Niconne-Regular.ttf');
}
@font-face
{ 
    font-family: "Original Surfer";
    src: url('../fonts/Original_Surfer/OriginalSurfer-Regular.ttf');
}
@font-face
{ 
    font-family: "Tangerine";
    src: url('../fonts/Tangerine/Tangerine-Regular.ttf');
}
body
{
    background-size: cover;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background: #fffffa;
}
.iframeHeader
{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 120px;
}
.iframeFooter
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 450px;
}
.xi
{
    margin: 0 150px;
    height: 400px;
}
.xii
{
    width: 100%;
    height: 100%;
}
.xiii
{
    margin: 20px 150px 0;
    color: #262626;
    font-family: 'Original Surfer';
}
.title
{
    margin-bottom: 0;
    font-size: 45px;
}
.info
{
    font-size: 20px;
}
.xiv
{
    font-size: 30px;
}
ul
{
    font-size: 20px;
    list-style: square;
}
.price
{
    font-size: 18px;
}
span
{
    color: brown;
    font-size: 25px;
}
a:hover
{
    transition: 0.6s;
    background-color: #4d4d4d;
}
a
{
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Oregano';
    font-size: 20px;
    border: 1px solid dimgray;
    color: white;
    font-weight: 600;
    background-color: dimgray;
    margin-bottom: 20px;
}
.infox
{
    font-size: 20px;
    margin-bottom: 70px;
}