@font-face
{ 
    font-family: "Oregano";
    src: url('../fonts/Oregano/Oregano-Regular.ttf');
}
@font-face
{ 
    font-family: "Annie Use Your Telescope";
    src: url('../fonts/Annie_Use_Your_Telescope/AnnieUseYourTelescope-Regular.ttf');
}
@font-face
{ 
    font-family: "Cormorant Upright";
    src: url('../fonts/Cormorant_Upright/CormorantUpright-Regular.ttf');
}
@font-face
{ 
    font-family: "Elsie";
    src: url('../fonts/Elsie/Elsie-Regular.ttf');
}
@font-face
{ 
    font-family: "Kaushan Script";
    src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}
@font-face
{ 
    font-family: "Niconne";
    src: url('../fonts/Niconne/Niconne-Regular.ttf');
}
@font-face
{ 
    font-family: "Original Surfer";
    src: url('../fonts/Original_Surfer/OriginalSurfer-Regular.ttf');
}
@font-face
{ 
    font-family: "Tangerine";
    src: url('../fonts/Tangerine/Tangerine-Regular.ttf');
}
body
{
    background-size: cover;
    padding: 0;
    margin: 0;
}
div.header
{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background: #fff;
    font-family: 'Oregano';
    color: #1e3d7b;
    letter-spacing: 1px;
}
div.bio
{
    width: 1000px;
    margin-left: 200px;
    text-align: left;
    margin-top: 50px;
}
div.facilities
{
    display: flex;
    width: 1000px;
    margin-left: 200px;
    margin-bottom: 50px;
}
div.facil
{
    width: 240px;
    height: 130px;
    text-align: center;
    margin-right: 10px;
    background: #0a1429;
    border-radius: 50px;
}
span
{
    font-size: 19px;
}
h4
{
    color: dimgray;
    font-weight: 100;
}
.head,.last
{
    margin 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.last
{
    min-height: 10px;
    margin-bottom: 30px;
}
.card
{
    position: relative;
    background: #fff;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.card:hover
{
    box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
    transition: 0.4s;
}
.card1:hover,.card2:hover,.card3:hover
{
    box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
    transition: 0.4s;
}
.card1,.card2,.card3
{
    position: relative;
    background-color: #f2f2f2;
    width: 310px;
    height: 450px;
}
.card1 .content,.card2 .content,.card3 .content
{
    width: 310px;
    text-align: center;
}
.card1
{
    margin-left: 10px;
}
.card2
{
    margin-left: 30px;
}
.card3
{
    margin-left: 30px;
}
.card .content
{
    width: 500px;
    text-align: center;
}
.card1 .image,.card2 .image,.card3 .image
{
    width: 310px;
    height: 175px;
}
.card .image
{
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img
{
    width: 100%;
    height: 100%;
}
.card .content a:hover
{
    color: white;
    background-color: #0f1e3e;
    transition: 0.6s;
}
.card1 .content a:hover,.card2 .content a:hover,.card3 .content a:hover
{
    color: white;
    background-color: #0f1e3e;
    transition: 0.6s;
}
.card1 .content a,.card2 .content a,.card3 .content a
{
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #0f1e3e;
    color: #0f1e3e;
    font-weight: 600;
    font-family: 'Oregano';
    letter-spacing: 2px;
    font-size: 16px;
}
.card .content a
{
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #0f1e3e;
    color: #0f1e3e;
    font-weight: 600;
    font-family: 'Oregano';
    letter-spacing: 2px;
    font-size: 16px;
}
.swiper-slide
{
    width: 500px;
}
.imgheader
{
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}
.imgheader .imgslider
{
    width: 100%;
    height: 488px;
    background: url(../Images/header12.jpg);
    animation: slide 20s infinite;
}
@keyframes slide
{
    20%{
         background: url(../Images/headxx.jpg);
    }
    40%{
         background: url(../Images/headerxx.jpg);
    }
    60%{
         background: url(../Images/header7.jpg);
    }
    80%{
         background: url(../Images/header2.jpg);
    }
    100%{
         background: url(../Images/header12.jpg);
    }
}
.h22
{
    text-align: left;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #1e3d7b;
    font-family: 'Oregano';
    letter-spacing: 4px;
}
.h11
{
    margin-left: 200px;
    font-family: 'Oregano';
    letter-spacing: 2px;
    margin-top: 30px;
    color: #142952;
}
.xo
{
    font-family: 'Tangerine';
    margin: 10px 0 0 0;
    font-size: 60px;
    font-weight: 700;
    color: #0a1429;
}
.xo1
{
    font-family: 'Oregano';
    margin: 10px 0 0 0;
    font-size: 40px;
    font-weight: 400;
    color: #336699;
}
.xox1
{
    font-family: 'Oregano';
    margin: 15px 20px 15px;
    font-size: 25px;
}
.xox
{
    font-family: 'Tangerine';
    margin: 0 0 10px;
    font-size: 30px;
}
.head
{
    background: url(backgroundx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.last{background: #fff;width: 100%;margin-top: 40px;}
.swiper-wrapper{margin-bottom: 10px;}
.finals
{
    margin-left: 200px;
    margin-right: 200px;
    width: 950px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.title-final
{
    font-size: 35px;
    font-family: 'Oregano';
    letter-spacing: 2px;
    color: #142952;
}
.ahmed
{
    height: 180px;
    width: 350px;
}
.titlex
{
    font-family: 'Oregano';
    letter-spacing: 8px;
}
.im
{
    height: 130px;
    width: 170px;
}
.iframeHeader
{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 120px;
}
.iframeFooter
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 450px;
}
.good-to-know
{
    width: 100%;
    display: flex;
    height: auto;
}
.divx,.divxx
{
    width: 470px;
    height: 250px;
    background-color: #0a1429;
    margin-bottom: 10px;
    text-align: center;
    color: #ebf0fa;
    border-radius: 50px;
}
.divxx
{
    margin-left: 10px;
}
.pop
{
    margin-top: 20px;
}
.fa-color
{
    color: #ffff33;
}
.popx,.popx1
{
    font-size: 20px;
    font-family: 'Oregano';
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 900;
    color: #e6b800;
}
.popx1
{
    margin-bottom: 10px;
}
.popxx,.popxx1
{
    font-size: 20px;
    font-family: 'Oregano';
    letter-spacing: 2px;
    font-weight: 100;
    margin: 0;
}
.popxx1
{
    display: flex;
}
.cardx
{
    margin-left: 70px;
}
.cardxx,.cardx
{
    width: 100px;
    height: 55px;
    margin-right: 20px;
    margin-top: 12px;
}
.corn
{
    text-align: center;
    margin-top: 20px;
}
.cornx
{
    text-align: center;
    font-family: 'Oregano';
    font-size: 20px;
    margin-top: 10px;
    color: #ebf0fa;
}
.fa-colorx
{
    color: #ebf0fa;
}
.corn-coffee
{
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}
.star
{
    width: 100%;
    height: 150px;
    background-color: #c6d9ec;
    text-align: center;
}
.starx
{
    width: 170px;
    height: 130px;
    margin-top: 10px;
}