*
{
    margin: 0;
    padding: 0;
    font-family: consolas;
}
body
{
   background: linear-gradient(to right,#bbcfde, #5d66d4);
}
iframe
{
    width: 100%;
    height: 19%
    
}
.footer
{
    width: 100%;
    height: 69%;
}
div.bar
{
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020b7c;
}
a
{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 20px;
    color: #bbcfde;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    
}
a:hover
{
    background: #bbcfde;
    color: #020b7c;
    box-shadow: 0 0 5px #bbcfde,0 0 25px #bbcfde,0 0 50px #bbcfde,0 0 200px #bbcfde
}

.all
{
    margin: 10px 50px ;
}
.all img
{
    transition: 1s;
    padding: 15px;
    margin: 0 0 0 10px;
    width: 300px;
    height: 300px
}
.all img:hover
{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.7);
    
}

.modal-content {
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 100%;
    max-width: 1200px ;

}

.close {
  color: #020b7c;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  min-height: 100%
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 350px;
  width: auto;
  padding: 16px;
    margin: -50px 0 0 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mySlides img
{
    margin: 0px 0 0 60px;
    width: 90%;
    height: 100%;
    max-height: 100%;
    min-height: 90%;
        
}
.mySlides img:hover
{
    filter: grayscale(0%);
    transform: scale(1);
}