.iframeHeader
{
    margin-bottom: -5px;
    width: 100%;
    height: 17%
    
}
.iframeFooter
{
    margin-bottom: -5px;
    width: 100%;
    height: 460px
}
.parent
{
    height: 100%;
    width: 100%;
    background-color: floralwhite;
    opacity: 1;
}
.about
{
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    padding-top: 3%;
    height: 89.5%;
    background-color:darkgrey;
    opacity: 1;
    border-radius: 10px;
}

button
{
    width: 130px;
    height: 70px;
    position: fixed;
    display:block;
    font-size: 16px;
    text-align: center;
    padding: 0.5%;
    border: 5px solid darkgray;
    border-bottom: 20px solid darkgray;
    border-radius: 50%;
   background-color: lime;
    left: 1.5%;
    animation: mybutton 15s 1;
    animation-direction: left-to-right;
}
@keyframes mybutton {
  0%   {background: black;       top: 22.7%; left: 1.5%;}
  10%  {                         top: 0%;    left: 1.5%;}
  28.7%  {                       top: 0%;    left: 90%;}
  60%  {                         top: 71%;   left: 90%}
  78.7%  {                       top: 71%;   left: 1.5%}
  100% {background: white;       top: 22.7%; left: 1.5%}
}

legend
{
    border: 5px solid black;
    margin-left: 30%;
    padding: 15px;
    font-family: Lucida Handwriting;
    font-size: 22px;
    color: darkred;
    background-color: floralwhite;
    border-radius: 5px
}
fieldset
{
    border: 0px solid black;
    width: 45%;
    margin-bottom: 5%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: floralwhite;
    display: inline;
    border-radius: 10px
}
.text
{
    width: 100%;
    height: 60%;
    padding-left: 5px;
    padding-top: 2px;
    border: 0px solid;
    display: none;
}
p
{
    font-family: Lucida Bright;
    font-size: 18px;
    line-height: 60%;
    color: black
}