.iframeHeader
{
    margin-bottom: -5px;
    width: 100%;
    height: 17%
    
}
.iframeFooter
{
    margin-bottom: -5px;
    width: 100%;
    height: 460px
}
/*-- main --*/
.content{
	padding:50px 0;
    background-color: darkgray;
}
.content h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
	font-family: 'Amaranth', sans-serif;
}
.main{
	width:30%;
	margin:45px auto;
	background-color: white;
	padding:30px 30px;
    border-radius: 10px;
    opacity: 0.7

}
p.footer {
    color: #fff;
    font-size: 14px;
    text-align: center;
}
p.footer a {
    color: #000;
	transition:0.5s all;	
}
p.footer a:hover {
    color: #fff;
	transition:0.5s all;	
}
.main form input[type="text"], .main form input[type="email"], .main form input[type="password"] {
    width: 94%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    outline: none;
    color: #D8D5D5;
    margin-bottom: 30px;

}
.main h5 {
    color: #00ad5f;
    margin-bottom: 8px;
	font-size:19px;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}
.main h5 span{
	font-size:15px;	
	color:#ccc;
}
.main form input[type="text"]:hover,  .main form input[type="email"]:hover,  .main textarea:hover{
	border: 1px solid #4cc2c4;
	color:#000;
	transition:0.5s all;
}

.main form input[type="submit"] {
    background: #00ad5f;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 0;
    border: none;
    border-bottom:4px solid #00ad5f;
    font-size: 16px;
    outline: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0px;
	text-transform:capitalize;

}
.main form input[type="submit"]:hover{
    background: #000;
    border-bottom:4px solid #403E3E;
	transition:0.5s all;	
}
 .main textarea {
    width: 94%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    outline: none;
    color: #D8D5D5;
    margin-bottom: 20px;
	outline:none;
	resize:none;
    height: 100px;
    font-family: 'Lato', sans-serif !important;
}

.radio-btns label {
  font-size: 14px;
  vertical-align: text-top;
  margin: 0;
}
/*start-checkbox*/
.checkbox {
	padding-left: 25px;
	color: #B6B6B6;
	cursor: pointer;
	position:relative;
	font-size:12px;
}
 .checkbox:last-child {
	margin-bottom: 0;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox i {
	position: absolute;
	bottom: 7px;
	left: 0px;
	display: block;
	width: 19px;
	height: 20px;
	outline: none;
  border: 3px solid #00ad5f;
  background: #fff;
	border-radius:3px;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
}
.checkbox input + i:after {
	content: '';
	background: url("images/tick-mark1.png") no-repeat center;
	top: -6px;
	left: 0px;
	width: 18px;
	height: 18px;
	text-align: center;
}
.form-elements li:nth-child(2) {
	margin-left: 18px;
	width: 37%;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.checkbox input:checked + i {
  border: 3px solid #00ad5f;
  background: #fff;
}
.radio,.radio1,.radio2,.radio3 {
	position: relative;
	display:inline-block;
	margin-left:15px;
}
.radio:first-child,.radio1:first-child ,.radio2:first-child,.radio3:first-child{
	margin-left: 0;
	margin: 0;
}
.radio ,.radio1,.radio2 ,.radio3{
	padding-left:20px;
	line-height: 25px;
	color: #404040;
	cursor: pointer;
}
.radio  input[type="radio"],.radio1  input[type="radio"],.radio2  input[type="radio"],.radio3  input[type="radio"]{
	position: absolute;
	left: -9999px;
}
.radio-btns label {
  font-size: 14px;
  color: #A5A5A5;
  padding: 0px 0 0 2px;
  }
.radio i,.radio1 i,.radio2 i,.radio3 i  {
	position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 12px;
    height: 12px;
    outline: none;
    border: 3px solid #00ad5f;
    background: #fff;
    cursor: pointer;
    border-radius: 100%;
}

.radio input + i:after,.radio1 input + i:after ,.radio2 input + i:after,.radio3 input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
}
 .radio input + i:after, .radio1 input + i:after , .radio2 input + i:after, .radio3 input + i:after{
	content: '';
	top: 6px;
	left: 7px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.radio input:checked + i:after,.radio1 input:checked + i:after,.radio2 input:checked + i:after,.radio3 input:checked + i:after{
	opacity: 1;
}
.check_box {
    float: left;
    width: 23%;
}
.check_box_one {
    float: left;
    width: 31%;
}
/*** normal state ***/
.radio i ,.radio1 i,.radio2 i ,.radio3 i {
	transition: border-color 0.3s;
}
/*** checked state ***/
.radio input + i:after,.radio1 input + i:after,.radio2 input + i:after,.radio3 input + i:after {
    content: '';
    background: url("../images/tick-mark1.png") no-repeat -1px -1px;
    top: 3px;
    left: 3px;
    width: 6.5px;
    height: 6px;
    text-align: center;
    border-radius: 100%;
}
.radio input:checked + i ,.radio1 input:checked + i,.radio2 input:checked + i ,.radio3 input:checked + i{
  border: 3px solid #00ad5f;
  background: #fff;
}
.swit {
    margin-bottom: 30px;
}













/*shows the stars side by side, centered, and in reverse order than the HMTL*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
    margin-bottom: 15px
}

/*hides the radio buttons*/
.rating > input{ display:none;}

/*style the empty stars, sets position:relative as base for pseudo-elements*/
.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 35px;
  color: #FFD700;
  cursor: pointer;
}

/* sets filled star pseudo-elements */
.rating > label::before{ 
  content: "\2605"; /*star code in css*/
  position: absolute;
  opacity: 0;
}
/*overlays a filled start character to the hovered element and all previous siblings*/
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

/*overlays a filled start character on the selected element and all previous siblings*/
.rating > input:checked ~ label:before{
  opacity:1;
}

/*when an element is selected and pointer re-enters the rating container, selected rate and siblings get semi transparent, as reminder of current selection*/
.rating:hover > input:checked ~ label:before{ opacity: 0.4; }
